<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeQF8KhJR8kUzphQKMrfgWuCqyBB1046A</string>
	<key>GCM_SENDER_ID</key>
	<string>1090204925108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.rmit.van.CoffeeAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>coffee-app-project-16693</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-app-project-16693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090204925108:ios:328e1d314fcc2adea96be1</string>
</dict>
</plist>