<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.749553377306-sqfdqv2dvuiv34tok9jal7jiuq1rgiub</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OldStandardTT-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
